{% extends 'base.html' %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">Latest Announcements</h1>

<div class="grid md:grid-cols-3 gap-6">

    {% for post in posts %}
    <div class="bg-white/10 backdrop-blur-xl border border-white/10 rounded-2xl overflow-hidden hover:scale-105 transition">

        {% if post.image %}
        <img src="{{ post.image.url }}" class="w-full h-48 object-cover object-top">
        {% endif %}

        <div class="p-4">
            <h3 class="font-semibold text-lg">{{ post.title }}</h3>
            <p class="text-sm text-gray-400">{{ post.created_at|date:"M d, Y" }}</p>

            <a href="/post/{{ post.id }}/" class="inline-block mt-2 bg-blue-600 px-4 py-1 rounded text-sm">
                Read More →
            </a>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}